
img{
    width: 200px;
    height: 100px;
    
}

body, ul{
    margin: 0;
    padding: 0;
}

a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;

}
a:hover{
    background: rgba(0,    0,   0, .05);
}

header{


    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e7e7e7;
}

ul{
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a{
    display: block;
    padding: .5rem;
}

