body{
    background: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17pt;
    color: white;
}

header{
    text-align: center;
}

section{
    margin:auto;
    border-radius: 30px;
    background: whitesmoke;
    width: 600px;
    margin-top: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.483);
    color: black;
}

div#processo{
    padding: 20px;
}

input#botaoContar{
    margin-left: 10px;
}

div#res{
    padding: 17px;
    margin-left: 10px;
}

footer{
    text-align: center;
}